@using Mailo.Data.Enums
@model Product

<div class="col-md-4 col-sm-6 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="@Model.imageSrc" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <p class="card-text">@Model.Description</p>
            <h4 class="card-text">
                <span class="text-decoration-line-through text-dark">@Model.Price</span>
            </h4>

            <div class="product-options">
                <!-- Variants Dropdown -->
                <label for="variantDropdown"><strong>Variant:</strong></label>
                <select id="variantDropdown" name="selectedVariant" class="form-select">
                    <option value="">Select Variant</option>
                    @foreach (var variant in Model.Variants)
                    {
                        <option value="@variant.Id">@variant.Color - @variant.Size (@variant.Quantity available)</option>
                    }
                </select>
            </div>

            <form asp-action="AddProduct" asp-controller="Cart" class="d-inline-block me-2" method="post">
                <input type="hidden" name="ID" value="@Model.ID" />
                <input type="hidden" name="Name" value="@Model.Name" />
                <input type="hidden" name="Price" value="@Model.Price" />
                <input type="hidden" name="TotalPrice" value="@Model.TotalPrice" />
                <input type="hidden" name="Discount" value="@Model.Discount" />
                <input type="hidden" name="imageSrc" value="@Model.imageSrc" />
                <input type="hidden" name="selectedVariantId" id="selectedVariantId" />

                <button type="submit" class="btn btn-success">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("variantDropdown").addEventListener("change", function () {
        document.getElementById("selectedVariantId").value = this.value;
    });
</script>
