@* @model List<Product>
@{
	ViewData["Title"] = "Show Cart";
}
<div>
	<button type="button" class="btn btn-info" asp-action="NewOrder" asp-controller="Cart">Buy</button>
    <div class="container p-3">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                @if (item.Quantity > 0)
                { 

                    <div class="col-md-4 col-sm-6 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="@item.imageSrc" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                                <p>Price @item.Price</p>

                                <a asp-controller="Cart" asp-action="Delete" asp-route-Id="@item.ID" class="btn btn-primary btn-sm btn-danger">
                                    <i class="bi bi-trash3"></i> Delete
                                </a>

                                <a asp-action="New" asp-controller="Wishlist">
                                    <i class="bi bi-bag-heart" style="font-size: 24px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div> *@

@model Order

<h2>Your Shopping Cart</h2>

@if (Model == null || !Model.OrderProducts.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table>
        <tr>
            <th>Product</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>@item.product.Name</td>
                @* <td>@item.Quantity</td> *@
                <td>@item.product.TotalPrice.ToString("C")</td>
                @* <td>@(item.Quantity * item.product.Price).ToString("C")</td> *@
                <td>
                    @using (Html.BeginForm("RemoveProduct", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("productId", item.ProductID)
                        <input type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm("ClearCart", "Cart", FormMethod.Post))
    {
        <input type="submit" value="Clear Cart" />
    }

    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
    {
        <input type="submit" value="Checkout" />
    }
}
